/* Variables
================================================== */
/* #Typography
================================================== */
* {
  word-break: normal; }

body {
  background: #fff;
  font: 16px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #898989;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #777777;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

p {
  margin: 0 0 20px 0; }
  p img {
    margin: 0; }
  p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777; }
  p a, p a:visited {
    line-height: inherit; }

.footer, span.tags {
  font-size: 12px;
  line-height: 12px; }

em, i {
  font-style: italic; }

strong, .strong, b {
  font-weight: bold; }

small {
  font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }
  blockquote cite {
    display: block;
    font-size: 12px;
    color: #555; }
    blockquote cite a, blockquote cite a:visited {
      color: #555; }
  blockquote cite:before {
    content: "\2014 \0020"; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 10px;
  height: 0; }

/* #Links
================================================== */
a, a:visited {
  color: #33930D;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #b0da9b; }

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px; }

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

.typography ul {
  list-style-type: disc;
  margin-left: 40px;
  list-style-position: outside; }

.typography ol {
  list-style-type: decimal;
  margin-left: 20px; }

/* LINK ICONS - shows type of file
================================================== */
.typography a[href$=".pdf"], .typography a[href$=".PDF"], .typography a.pdf {
  padding: 2px;
  padding-left: 20px;
  background: url(/dynamic-core/images/icons/page_white_acrobat.png) no-repeat left center; }

.typography a[href$=".doc"], .typography a[href$=".docx"], .typography a[href$=".DOC"], .typography a[href$=".DOCX"], .typography a.doc {
  padding: 2px;
  padding-left: 20px;
  background: url(/dynamic-core/images/icons/page_word.png) no-repeat left center; }

.typography a[href$=".xls"], .typography a[href$=".xlsx"], .typography a[href$=".XLS"], .typography a[href$=".XLSX"], .typography a.xls {
  padding: 2px;
  padding-left: 20px;
  background: url(/dynamic-core/images/icons/page_excel.png) no-repeat left center; }

.typography a[href$=".gz"], .typography a[href$=".GZ"], .typography a[href$=".gzip"], .typography a[href$=".GZIP"], .typography a[href$=".zip"], .typography a[href$=".ZIP"], .typography a.archive {
  padding: 2px;
  padding-left: 20px;
  background: url(/dynamic-core/images/icons/page_white_zip.png) no-repeat left center; }

.typography a[href$=".exe"], .typography a[href$=".EXE"], .typography a.application {
  padding: 2px;
  padding-left: 20px;
  background: url(/dynamic-core/images/icons/application.png) no-repeat left center; }

/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
.typography .left {
  text-align: left; }

.typography .center {
  text-align: center; }

.typography .right {
  text-align: right; }

/* IMAGES 
-------------------------------------------- */
.typography img.left {
  float: left;
  max-width: 50%;
  height: auto;
  margin: 5px 20px 10px 0; }

.typography img.right {
  float: right;
  max-width: 50%;
  /* Responsive width */
  height: auto;
  margin: 5px 0 10px 20px; }

.typography img.leftAlone {
  float: left;
  margin-right: 100%;
  margin-bottom: 10px;
  clear: both; }

.typography img.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  clear: both; }

.typography img {
  max-width: 100%;
  height: auto; }
